
<h1 class="h1">Boxino</h1>
<main>
   
    <div class="container">
        @* <img class="modal" alt="modal" src="~/img/modal.png"> *@
        <div class="centralizar">
            <div class="raio">
                <img id="botao" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao2" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao3" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao4" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao5" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao6" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao7" onclick="bonus(this)" src="img/game_icon_full.png" alt="teste">
                <img id="botao8" onclick="bonus(this)" src="~/img/game_icon_full.png" alt="teste">
            </div>
            <div id="level">
                <img class="img" src="img/2.png" alt="luffy" srcset="">
                <button id="btn" onclick="chamarFase2()" type="button">Proximo</button>
            </div>
        </div>
    </div>

    <div class="jogar">
        <button onclick="Jogar()">Começar</button>
        <button onclick="Parar()">Parar</button>
        <input type="text" id="texto" placeholder="Pontos">
    </div>
</main>